// Header
.site-header {
  background: $grey-light;
  border-bottom: 3px solid $brand-color;
}

// Nav:
// Links within header
.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100px;
}

.site-nav--title {
  text-transform: uppercase;
}

.site-nav--pages {
  @include media-query(600px) {
    display: none;
  }
}

.site-nav--pages--link {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.site-nav--icon {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;

  svg {
    fill: white;
  }

  @include media-query(600px) {
    display: block;
  }
}