// icons below hero image
.product-page--icons {
  padding: 60px 0;
}

.product-page--icon {
  text-align: center;

  img {
    width: 60%;
    max-height: 150px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 17px;
    margin-bottom: 15px;
  }

  p {
    font-size: 13px;
  }
}

// highlight area with customer quote
.product-page--highlight {
  padding: 20px 0;
  background: #1abc9c;
  color: #fff;

  p {
    margin-bottom: 0;
  }

  .grid {
    align-items: center;
  }
}

.product-page--highlight--text {
  margin: 10px;
  margin-right: 0;
  font-size: 14px;
}

// Sections with images and text
.product-page--section {
  padding: 50px 0;

  // Gives even numbered .product-page--section light grey background
  &:nth-child(even) {
    background-color: #ecf0f0;
  }

  // Changes the order of images and text at larger screen sizes
  @include media-query-min(600px) {
    &:nth-child(odd) {
      .product-page--section--img {
        order: 2;
      }

      .product-page--section--text {
        order: 1;
      }
    }
  }

  .btn-wrapper {
    margin-top: 40px;
    text-align: center;
  }
}

.product-page--section--img {
  .screenshot {
    border: 2px solid black;
  }
}

.product-page--section--text {
  h3 {
    line-height: 1;
    font-size: 36px;
    color: #4d5256;
  }

  p {
    font-size: 18px;
    line-height: 1.6;
    color: #4d5256;
  }
}

// cta at the end of the page
.product-page--cta {
  padding: 80px 0;
  font-size: 20px;
  text-align: center;
  background: $chef-darkblue;
  color: white;
}