.site-footer {
  padding: 30px 0;
  background: $brand-color;
  color: white;

  a {
    color: white;

    &:hover {
      color: white;
    }
  }
}

.footer--heading {

}

.footer--cols {
  display: flex;
  justify-content: space-between;

  @include media-query(600px) {
    display: block;
  }
}

.footer--col {
  flex-basis: 30%;
}

.footer--contact-list,
.footer--social-media {
  list-style: none;
  margin-left: 0;
}

.footer--social-media {

}