// Flexbox Grid!
$cols : 12; //Sets # of columns

//Sets width of each column
@function findColumnWidth($cols) {
  $result : ((100 - ( 2 * ($cols - 1))) / $cols);
  @return $result;
}

$colWidth: findColumnWidth($cols);
$gutterWidth: 2%; //Sets width of each gutter

.grid {
  display: flex;

  @include media-query(600px) {
    display: block;
  }
}

.grid--cell {
  flex: 1;
}

/* Mobile Grid Resets all Columns to 100%*/
@for $i from 1 through $cols {
  .grid--cell__#{$i} {
    flex-basis: 100%;
    //Sets grid widths at larger screen sizes
    @include media-query-min(700px) {
      $gridWidth : ($i * $colWidth) + ($gutterWidth * ($i - 1)) ;
      flex-basis: $gridWidth;
    }
  }
}

/* With gutters */
.grid__gutters {
  margin: -1em 0 0 -1em;

  & > .grid--cell {
    padding: 1em 0 0 1em;
  }
}